* {
    margin: 0;
    padding: 0;
    /* width: 1440px; */
}


html {
    box-sizing: border-box;
}

.navbar {
    background: rgb(158, 28, 39);
}

.navbar_left a{
    color: antiquewhite;
    text-align: right;
}
.navbar-nav a:hover{
    color: rgb(208, 255, 0);
}

.about_me {
    background-color: rgb(255, 140, 0);
    margin: 30px;
}

.d-flex img {
    width: 300px;
    height: 300px;
}
.d-flex p {
    font-size: 20px;
    text-indent: 30px;
    font-weight: 400;
    line-height: 25px;
}
.tab  h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
footer {
    background-color: blueviolet;
}