* {
    margin: 0;
    padding: 0;
    /* width: 1440px; */
}


html {
    box-sizing: border-box;
    max-height: 100vh;
}

.about_me {
    background-color: rgb(255, 140, 0);
    margin: 30px;
}

.d-flex img {
    width: 300px;
    height: 300px;
}
.d-flex p {
    font-size: 20px;
    text-indent: 30px;
    font-weight: 400;
    line-height: 25px;
}
.tab  h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
footer {
    background-color: blueviolet;
}