.contact {
    font-family: 'Helios';
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 20px;
    margin-bottom: 100px;
    margin-top: 50px;
    justify-content: center;
}

div.cotact-icons img.icon {
    vertical-align: middle;
    align-items: center;
    color: aqua;
}