@font-face {
    font-family: 'Secure';
    src: url(../fonts/Waterfall\ Phoenix.ttf);
}


.navbar-toggler {
  border: 0;
  display: inline;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.2s;
}

.middle-bar {
  margin: 5px auto;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: #727272;
}

.navbar {
    background-color: #950101;
    height: 5rem;
    box-shadow: 5px, 5px, 15px, 15px black;
}

.navbar a {
    font-family: 'Secure';
    color: rgb(255, 255, 255);
    border-radius: 2px;
    font-size: 20px;
}

.navbar a svg {
    color: rgb(255, 255, 255);
    border-radius: 2px;
    font-size: 20px;
}

a.nav-link.navbar-dark.active {
  color: #c7a1dd;

}
.navbar a .dropdown.dropdown-toggle.active{
    font-family: 'Secure';
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 20px;
}

a.nav-link.dropdown-toggle.active {
  color: #c7a1dd;
}

.navbar-collapse {
  background-color: #950101;
  border-radius: 20px;
  width: 100px;
  padding: 0;
  margin: 0;
}
.navbar a:hover {
  color: #a200ff;
  border-radius: 20px;
}
.navbar a svg:hover {
  color: #a200ff;
  border-radius: 20px;
}

div.navbar.mx-3 {
  color: white;
}

svg.bi.bi-person-circle{
  color: white;
}
.navbar a.active {
  text-decoration-color: #a200ff;
  border-bottom: #a200ff;
}

a.navbar-brand:hover {
  outline: none;
  outline-style: none;
}

/* footer */
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }
  .blog-footer a {
    text-decoration: none;
  }

.center {
  position: relative;
  align-items: center;
  justify-content: center;
}

a.blog {
  font-family: sans-serif;
  margin: 3px;
  color: rgb(255, 255, 255);
}
a.blog:hover {
  background-image: linear-gradient(45deg, #0000005b, #950101, #3d0000);
  color: aliceblue; 
}

.blog-dropdown {
  background-image: linear-gradient(45deg, #ff0000, #950101, #3d0000);
  color: aliceblue;
}

.search {
  position: relative;
  margin-top: 150px;
}

.mared { 
  color: #950101;
}
.mared:hover { 
  color: #3d0000;
}

.maredBG { 
  background-color: #950101;
  color: white;
}
.maredBG:hover { 
  color: #950101;
  background-color: white;
  border: 1px #950101 solid;
}

#loginCheck.maredBG {
  accent-color: #950101;
}
